# Tests MEgen on every push (excluding master branch) and pull request

name: Test

on:
  push:
    branches-ignore:
      - master
  pull_request:

jobs:
  test:
    name: jMeter tests
    runs-on: ubuntu-latest
    services:
      megen:
        image: php:8.0-apache
        ports:
          - 80:80
        volumes:
          - ${{ github.workspace }}:/var/www/html/
    steps:
      - uses: actions/checkout@v6
      - name: Run JMeter Tests
        uses: rbhadti94/apache-jmeter-action@v0.7.0
        with:
          testFilePath: tests/all.jmx
          outputReportsFolder: reports/
      - uses: actions/upload-artifact@v6
        with:
          name: jmeter-test-results
          path: reports/
